/* You can add global styles to this file, and also import other style files */
.bigTitle {
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.125;
}

.bigImage {
  float: right;
}

.tile.is-parent {
  padding-top: 2.2rem;
}

.marginBot {
  margin-bottom: 1.5rem;
}

.alignLeft {
  text-align-last: end;
}
.titleInline {
  display: inline-block;
}

.paddingLeft {
  padding-left: 75px;
}

.loginButton {
  background-color: #008cba;
  border: none;
  color: white;
  padding: 15px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.loginButton:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.tileCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
