<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child">
          <figure class="center"><img class="bigImage" src="../assets/images/logo.png" alt="Heart Image" /></figure>
        </article>
        <article class="is-child notification is-warning">
          <div class="tileCenter">
            <input class="profileButton" type="submit" value="Profile information" (click)="getProfile()" />
          </div>
          <div class="tileCenter"><input class="profileButton" type="submit" value="Show heart log" /></div>
          <div class="tileCenter"><input class="profileButton" type="submit" value="Connect devices" /></div>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-info">
          <p class="bigTitle">Heart Life</p>
          <p class="subtitle">For the health of your heart</p>
          <figure class="center marginBot"><img src="../assets/images/heartbeat.png" alt="EKG" /></figure>
          <div class="center textDiaBefore" id="diagnValue"></div>
          <div class="center" id="userProfile" [style.display]="'none'">
            <header class="modal-card-head"><p class="modal-card-title">User Profile</p></header>
            <section class="modal-card-body">
              <div class="field">
                <p class="control"><input class="input" type="text" placeholder="Age" /></p>
              </div>
              <div class="field">
                <p class="control"><input class="input" type="text" placeholder="Sex" /></p>
              </div>
            </section>
          </div>
        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child notification is-danger alignLeft">
        <p class="title">Send personal data for processing and get a diagnosis</p>
        <input class="loginButton" type="submit" value="Get heart diagnosis" (click)="getDisease()" />
      </article>
    </div>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child notification is-success">
      <div class="content">
        <div class="content">
          <p class="title">Add new information</p>
          <header class="modal-card-head"><p class="modal-card-title">Heart Status</p></header>
          <section class="modal-card-body">
            <div class="field">
              <p class="control"><input id="chest" class="input" type="text" placeholder="Chest Pain Type" /></p>
            </div>
            <div class="field">
              <p class="control">
                <input id="bloodPressure" class="input" type="text" placeholder="Resting Blood pressure" />
              </p>
            </div>
            <div class="field">
              <p class="control"><input id="chole" class="input" type="text" placeholder="Cholesterol" /></p>
            </div>
            <div class="field">
              <p class="control"><input id="blood" class="input" type="text" placeholder="Fasting Blood sugar" /></p>
            </div>
            <div class="field">
              <p class="control"><input id="ekgres" class="input" type="text" placeholder="Resting EKG Result" /></p>
            </div>
            <div class="field">
              <p class="control"><input id="maxpulse" class="input" type="text" placeholder="Max Pulse Value" /></p>
            </div>
            <div class="field">
              <p class="control"><input id="angina" class="input" type="text" placeholder="Exercise Angina" /></p>
            </div>
            <div class="field">
              <p class="control"><input id="stSeg" class="input" type="text" placeholder="ST segment Depression" /></p>
            </div>
            <div class="field">
              <p class="control"><input id="depres" class="input" type="text" placeholder="Depression" /></p>
            </div>
          </section>
          <input class="loginButton" type="submit" value="Save" (click)="resetValues()" />
          <input class="loginButton" type="submit" value="Import Healthy" (click)="impHealthy()" />
          <input class="loginButton" type="submit" value="Import Sick" (click)="impSick()" />
        </div>
      </div>
    </article>
  </div>
</div>
