<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child">
          <figure class="center"><img class="bigImage" src="../assets/images/logo.png" alt="Heart Image" /></figure>
        </article>
        <article class="tile is-child notification is-warning">
          <p class="title">Facts</p>
          <p class="subtitle">
            About 610,000 people die of heart disease in the United States every year–that’s 1 in every 4 deaths.
          </p>
          <p class="subtitle">
            Heart disease is the leading cause of death for both men and women. More than half of the deaths due to
            heart disease in 2009 were in men.
          </p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-info">
          <p class="bigTitle">Heart Life</p>
          <p class="subtitle marginBot">For the health of your heart</p>
          <p class="subtitle">
            Coronary Heart Disease(CHD) is the most common type of heart disease, killing over 370,000 people annually.
          </p>
          <p class="subtitle">
            Every year about 735,000 Americans have a heart attack. Of these, 525,000 are a first heart attack and
            210,000 happen in people who have already had a heart attack.
          </p>
        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child notification is-danger">
        <p class="title titleInline">Start logging your heart life now!</p>
        <input class="loginButton" type="submit" value="Login" />
        <input class="loginButton" type="submit" value="About" />
        <input class="loginButton" type="submit" value="Contact Us" />
        <p class="subtitle">Are you at risk in developing a heart disease?</p>
        <div class="content"><!-- Content --></div>
      </article>
    </div>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child notification is-success">
      <div class="content">
        <input class="loginButton" type="submit" value="Login" />
        <input class="loginButton" type="submit" value="About" />
        <input class="loginButton" type="submit" value="Contact Us" />
        <figure class="center"><img class="bigImage" src="../assets/images/logo1.png" alt="Heart Image" /></figure>

        <p class="title">A heart disease diagnosis tool that can save you life</p>
        <div class="content"><!-- Content --></div>
      </div>
    </article>
  </div>
</div>
